.lds-default {
  display: inline-block;
  position: relative;
  width: 31px;
  height: 31px;
  align-self: center;
}

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: transparent;
  border: 1px solid #848484;
  border-radius: 50%;
  animation: lds-default 0.9s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  left: 13px;
}

.lds-default div:nth-child(2) {
  animation-delay: 0.1s;
  right: 3px;
  top: 4px;
}

.lds-default div:nth-child(3) {
  animation-delay: 0.2s;
  top: 13px;
  right: 0;
}

.lds-default div:nth-child(4) {
  animation-delay: 0.3s;
  right: 3px;
  bottom: 4px;
}

.lds-default div:nth-child(5) {
  animation-delay: 0.4s;
  left: 13px;
  bottom: 0;
}

.lds-default div:nth-child(6) {
  animation-delay: 0.5s;
  left: 3px;
  bottom: 4px;
}

.lds-default div:nth-child(7) {
  animation-delay: 0.6s;
  top: 13px;
  left: 0;
}

.lds-default div:nth-child(8) {
  animation-delay: 0.7s;
  left: 3px;
  top: 4px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
