.tariffs {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  align-items: center;
}

.tariff {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 30%;
}

.tariff-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 6px 30px 20px;
  height: 132px;
  border-radius: 10px 10px 0px 0px;
}

.tariff-header__info {
  display: flex;
  flex-direction: column;
}

.tariff-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  letter-spacing: var(--letter-spacing);
  margin: 0;
}

.tariff-description {
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: var(--letter-spacing);
  margin-top: 15;
}

.tariff-body {
  padding: 30px;
  position: relative;
}

.tariff-price__container {
  display: flex;
}

.tariff-price {
  font-family: "Inter";
  font-weight: 500;
  font-size: 30px;
  letter-spacing: var(--letter-spacing);
  margin: 0;
}

.tariff-price__discount {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  margin-left: 20px;
  opacity: 0.5;
}

.tariff-info {
  font-family: "Inter";
  font-size: 18px;
  letter-spacing: var(--letter-spacing);
  display: flex;
  list-style: none;
}

.tariff-info__loan {
  height: 50px;
  margin: 10px 0;
}

.tariff-info__title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.tariff-info__check {
  margin-right: 10px;
}

.tariff-button {
  width: 100%;
  height: 60px;
  margin-top: 60px;
  background: var(--main-color-blue);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
  & a {
    font-family: "Inter";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: var(--letter-spacing);
    color: #fff;
    text-decoration: none;
  }
}

.tariff-button:hover {
  transform: scale(1.03);
  box-shadow: #596fff6c 3px 3px 0px 1px;
}

.tariff-button:active {
  transform: scale(1);
  box-shadow: none;
}

.tariff-body__current {
  border: 2px solid var(--main-color-yellow);
  border-radius: 0 0 10px 10px;
}

.tariff-button__current {
  background-color: #d2d2d2;
  & a {
    color: #000;
  }
}

.tariff-button__current:hover {
  box-shadow: #484a586c 3px 3px 0px 1px;
}

.current {
  color: #fff;
  font-size: 14px;
  padding: 3px 13px;
  background: #3ba5e0;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 15px;
}

.current-disabled {
  display: none;
}

@media screen and (max-width: 1000px) {
  .tariffs {
    flex-direction: column;
    margin: 20px 0;
  }

  .tariff {
    width: 100%;
    margin: 20px 0;
  }

  .tariff-button {
    margin-top: 30px;
  }

  .tariff-price {
    font-size: 23px;
  }
}
