.authorization {
  padding: var(--padding);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.auth__title {
  font-family: "Ferry";
  font-size: 45px;
  margin-top: 10%;
  letter-spacing: var(--letter-spacing);
}

.auth-img {
  margin-top: 20px;
  margin-left: 20%;
}

@media screen and (max-width: 1212px) {
  .authorization {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
    justify-items: center;
  }

  .auth__title {
    width: 90%;
    font-size: 22px;
    line-height: 34px;
  }

  .auth-img {
    max-width: 80%;
    margin-left: 0%;
    margin-top: 50px;
  }
}
