.main {
  padding: var(--padding);
}

.search-service {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 177px);
}

.search-service__title {
  font-family: "Ferry";
  font-size: 60px;
  line-height: 72px;
  letter-spacing: var(--letter-spacing);
  margin: 0;
}

.search-service__info {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: var(--letter-spacing);
  margin: 50px 0;
  max-width: 60%;
}

.search-service__request-button {
  cursor: pointer;
  width: 50%;
  height: 60px;
  background-color: var(--main-color-blue);
  border: none;
  border-radius: 5px;
  transition: var(--transition);
  & a {
    text-decoration: none;
    color: #fff;
    letter-spacing: var(--letter-spacing);
    font-size: 22px;
  }
}

.search-service__request-button:hover {
  transform: scale(1.03);
  box-shadow: #596fff6c 3px 3px 0px 1px;
}

.search-service__request-button:active {
  transform: scale(1);
  box-shadow: none;
}

.search-service__img {
  position: relative;
}

.search-service__img::before {
  content: "";
  width: 30px;
  height: 25px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  right: 52px;
}

.h2__title {
  font-family: "Ferry";
  font-size: 45px;
  margin-top: 10%;
  letter-spacing: var(--letter-spacing);
}

.why-we__img {
  background-image: url("../../assets/images/why-we.svg");
  margin-bottom: 5%;
  height: 615px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media all and (max-width: 1300px) {
  .search-service {
    flex-direction: column;
  }

  .search-service__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-service__request-button,
  .search-service__info {
    min-width: 80%;
  }

  .image {
    max-width: 100%;
  }
}

@media all and (max-width: 550px) {
  .main {
    padding: 10px;
  }

  .search-service__request-button,
  .search-service__info {
    min-width: 100%;
  }

  .search-service__title,
  .h2__title {
    font-size: 22px;
    line-height: 34px;
  }

  .search-service__info {
    font-size: 18px;
    margin: 20px 0;
  }

  .search-service__img::before {
    top: 1%;
    right: 8%;
  }
  .why-we__img {
    background-size: 200%;
    height: 300px;
  }
}
