.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.header-nav {
  display: flex;
  width: 20%;
  justify-content: space-between;
  & .header-nav__link {
    font-size: 14px;
    text-decoration: none;
    color: #000;
  }
  & .header-nav__link:hover {
    text-decoration: underline;
  }
}

@media (max-width: 850px) {
  .header-nav {
    display: none;
  }
}

@media all and (max-width: 550px) {
  .header {
    padding: 10px;
  }

  .header-logo {
    width: 80px;
  }
}
