.slick-slider {
  margin: 70px 0;
}

.slick-slide {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 225px !important;
  width: 400px !important;
  padding: 20px;
  margin: 15px;
}

.slick-track {
  display: flex !important;
  justify-content: space-between;
  padding: 5px;
}

.slider-img {
  width: 65px;
  height: 79px;
}

.slider-info {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.slick-arrow {
  height: 40px !important;
  width: 40px !important;

  &::before {
    display: none;
  }
}

.slick-next {
  background: url("../../../assets/images/arrow-right.svg") !important;
}

.slick-prev {
  background: url("../../../assets/images/arrow-left.svg") !important;
}

@media all and (max-width: 550px) {
  .slick-slider {
    width: 97%;
    margin: 30px 0;
  }
  .slick-slide {
    height: 100% !important;
  }
  .slick-prev {
    left: -12px !important;
  }
  .slick-next {
    right: -20px !important;
  }
}
