@font-face {
  font-family: "Ferry";
  src: url(./assets/fonts/Ferry/ferry.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter/inter.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

:root {
  --main-color-green: #029491;
  --main-color-light-green: #7ce3e1;
  --main-color-yellow: #ffb64f;
  --main-color-blue: #5970ff;
  --letter-spacing: 0.01em;
  --transition: all 0.3s ease;
  --padding: 40px 60px;
}
